<table border='0' cellspacing='0' cellpadding='0'>
    <tr valign='top'>
        <td>
            <div id='ldrital'>
                <h2>Second Annual Concert for EVAN</h2>
                <h3>Saturday, March 28, 2020</h3>
            </div>
            <img src='../Images/concert1.jpg' width="580px">

            <div id='content_text'>
                Please join us for a fun afternoon of music performed by talented musicians Joe Morra,
                Bob Blundell and John Terry. Sit back and enjoy music you know and love from the
                1960’s to the present. You can even sing along if you want to! Light refreshments will be
                served during the performance. All proceeds benefit The EVAN Foundation. Seating is
                limited and will go fast so reserve your tickets soon! We hope you can join us!
            </div>
            <p>
                <h3>Where:</h3> Kentlands Clubhouse
                485 Tschiffely Square Rd.
                Gaithersburg, MD 20878

                <h3>When:</h3> Saturday, March 28, 2020 1:30 p.m – 3:30 p.m (Doors open at 1:00 p.m.)

                <h3>Tickets:</h3> $40 per person, all proceeds benefit The EVAN Foundation
                Sponsorship are available

                <h3><a href="https://give.classy.org/2ndEFconcert " target="_blank">Purchase Tickets</a></h3>
            </p>

        </td>
    </tr>
</table>




