<h2>Donate</h2>
<h3>Donations can be mailed to:</h3>
<div id='content_text'>
    The EVAN Foundation<br />19308 Penrod Terrace<br />Germantown, MD 20874<br />
    <p>Please make checks payable to The EVAN Foundation.</p>
    <h3>Online donations securely accepted through PayPal.</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" width="50px" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="E5DGHY9PNBG5C">
        <input type="image" src="../Images/btn_donateCC_LG.gif" border="0" style="width:147px;height:47px" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <p>For donations over $1,500, please contact The EVAN Foundation at: info@theevanfoundation.org</p>
</div>
