<table border='0' cellspacing='0' cellpadding='0'>
    <tr valign='top'>
        <td>
            <div></div>
        </td>
    </tr>
    <tr valign='top'>
        <td>
            <h2>Evan Lindberg</h2>
            <div id='yellow_bkg'>
                <table width='100%' border='0' cellspacing='3' cellpadding='3'>
                    <tr>
                        <td>
                            In seven short years Evan Lindberg accomplished more than most of us do in a lifetime. He
                            lived every day with joy in his heart, compassion in his soul, and love and laughter as his guiding
                            stars. He showed us what was possible when you look at life through a positive lens. Never
                            waste a moment, and never live in fear.
                        </td>
                        <td align='center'>
                            <img class='special3' src='../Images/Evan_tree.jpg'></img>
                        </td>
                    </tr>
                    <tr>
                        <td align='center'>
                            <img class='special3' src='../Images/Evan_playground.jpg'></img>
                        </td>
                        <td>
                            Evan did all of this after being diagnosed at the tender age of three with Stage IV
                            neuroblastoma, a cruel and deadly pediatric cancer. Neuroblastoma did not define him,
                            however. Neuroblastoma never stood a chance with Evan. It may have taken his body in
                            the fall of 2010, but his spirit lives within us every day. We are who we are because of Evan.
                            Thousands of friends, family, and supporters from all over the world feel the same way.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            It is in Evan’s memory that we are going to cure neuroblastoma. No child should ever have to
                            endure what our son endured; 7 surgeries, 4 of which were brain surgeries. Over 35 rounds of
                            toxic chemotherapy. More than 100 nights in the hospital. 25 excruciatingly painful days of
                            immunotherapy. Weeks of intense radiation treatment to his brain, spine, abdomen and hip.
                            A constant stream of CTs, MRIs, full-body bone scans, blood draws, shots, physical therapy and
                            other grueling medical procedures. Pain, nausea and discomfort were constant companions.
                            Toughness and resolve were Evan’s response.
                        </td>
                        <td>
                            <img class='special3' src='../Images/Evan_Gavin.jpg'></img>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align='center'><a href='http://www.caringbridge.org/visit/evanlindberg' target='_new'>Visit Evan's CaringBridge Site</a></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
