<table border='0' cellspacing='0' cellpadding='0'>

    <tr valign='top'>
        <td>
            <div id='ldrital'>
                <h2>Another Successful MSSA Annapolis Chapter Spring Trophy Rockfish Tournament for 2018</h2>
            </div>
            <img src='../Images/Fish2018.JPG' width="580px">
            <div id='ldrdiv'>
                <div id='content_text'>
                    <p>
                        Thank you to the Maryland Saltwater Sportfishing Association-Annapolis Chapter for raising over $12,000.00 for the EVAN Foundation in the Spring Rockfish Tournament! The 7th annual tournament is the longest running event benefiting the EVAN Foundation, and the most successful fishing tournament yet! Our sincere thanks to Dale Dirks, Bob Thompson and George Brown who co-chair this fantastic event! 
                    </p>
                    <img src='../Images/Fish2018_2.jpg' width="580px">
                    <p>
                        <div id='ldrital'>
                            <h2>Our Amazing Sponsors!</h2>
                        </div>
                            <div id='ldrdiv'>
                                <div id='ldrtext'>Marty’s Bait & Tackle</div>

                                <div id='ldrtext'>AllTackle</div>

                                <div id='ldrtext'>Island Tackle Outfitters</div>

                                <div id='ldrtext'>Kramon & Graham P.A.</div>

                                <div id='ldrtext'>MSSA Annapolis Chapter</div>

                                <div id='ldrtext'>Adams Grille & Taphouse</div>

                                <div id='ldrtext'>Universal Marine</div>

                                <div id='ldrtext'>Under Armour</div>

                                <div id='ldrtext'>BFG Tackle</div>

                                <div id='ldrtext'>Friends of EVAN</div>

                                <div id='ldrtext'>EVAN Foundation Board of Directors</div>

                                <div id='ldrtext'>Health and Medicine Counsel of Washington</div>

                                <div id='ldrtext'>Minuteman Press</div>

                                <div id='ldrtext'>Ocean Yacht Documentation</div>

                                <div id='ldrtext'>Ruth’s Chris Steak House</div>
                            </div>

</p>
                </div>
            </div>
        </td>
    </tr>
</table>



 



