<table border='0' cellspacing='0' cellpadding='0'>

    <tr valign='top'>
        <td>
            <div id='ldrital'>
                <h2>Another Successful MSSA Annapolis Chapter Spring Trophy Rockfish Tournament for 2016</h2>
            </div>
            <img src='../Images/Fish2016.JPG' width="580px">
            <div id='ldrdiv'>
                <div id='content_text'>


                    <p>
                        The 5 th Annual MSSA Annapolis Chapter Spring Trophy Rockfish Tournament benefiting The EVAN

                        Foundation had an awards cookout on May 14, 2016. This year there were a record number of tournament

                        entrants and fish checked in, the largest first place fish, and the biggest turnout ever for the awards cookout

                        held at Chesapeake Harbour Marina in Annapolis. Adam’s Taphouse and Grille provided delicious barbeque

                        and thanks to our sponsors, every entrant walked away with prizes.
                    </p>
                    
                    <p>Thanks very much to the major sponsors of this event: Marty’s Bait and Tackle, AllTackle, Island Tackle

Outfitters, Adams Taphouse and Grille, MSSA Annapolis Chapter, Chesapeake Harbor Marina, and Kramon &amp;

Graham law firm. BFG Tackle, West Marine Glen Burnie, the MSSA main organization, Holiday Inn Kent

Island, Minuteman Press, Annie’s Steakhouse, The Jetty, The Narrows, Universal Marine, Fisherman’s Inn, Big

Bats Café, and others donated valuable prizes for the awards cookout. We are thrilled to report that this year’s

tournament raised over $8,000 for The EVAN Foundation!
                                            
                    </p>

                    <p>
                        Thanks to MSSA Co-Chairs Dale Dirks and Bob Thompson for all of their time and concerted effort to ensure a

                        great event year after year. In addition, thank you to volunteers George Brown, Dan Dirks, Rick Nadolny, Jean

                        and Rick Holmes, Ed Kalb, and Kevin McMenamin for ensuring the tournament and the awards event went

                        smoothly.
                    
                    </p>
                    <img src='../Images/Fish_Treats.jpg' width="580px">
                    <p>
                        Thanks also to Brian Zagalsky who made a special donation of toys and other treats to the Evan Foundation’s

                        Treats and Treasures Carts that visit the pediatric oncology unit at Children’s National Medical Center every

                        Wednesday with toys and goodies for the kids who are inpatient during treatment. Brian handpicked every item

                        that he donated with thought and care.
                    </p>

                    <p>
                        <b>Top Winners:</b><br/>
                        
                        <h5>Overall</h5>
                        <ul>
                            <li>1 st  Place: Kyle Wood 50 ½ inch rockfish</li>
                            <li>2 nd  Place: Andrew Wendell 47 ½ inch rockfish</li>
                            <li>3 rd  Place:  Paul Mellin 46 5/8 inch rockfish</li>
                        </ul>

                        <h5>Youth Division</h5>
                        <ul>
                            <li>1 st  Place: Darin Zagalsky 40 ½ inch rockfish</li>
                            <li>2 nd  Place: Brian Zagalsky 40 ½ inch rockfish</li>
                            <li>3 rd  Place: Will Muscatello 40 5/16 inch rockfish</li>
                        </ul>
                        <h5>Ladies Division</h5>
                        <ul>
                            <li>1 st  Places: Kathy Brown, Robin Zagalsky, and Jean Holmes</li>
                        </ul>
                    </p>
                   
                </div>
            </div>
        </td>
    </tr>
</table>



 



