<table border='0' cellspacing='0' cellpadding='0'>

    <tr valign='top'>
        <td>
            <div id='ldrital'>
                <h2>MSSA Annapolis Chapter 2015 Spring Rockfish Tournament Benefitting the EVAN Foundation</h2>
            </div>
            <img src='../Images/fish2015.jpg' height="360px">
            <div id='ldrdiv'>
                <div id='content_text'>


                    <p>
                        Thanks to everyone who participated in the Annapolis Chapter MSSA’s 2015 Spring Trophy Rockfish

                        Tournament benefitting The EVAN Foundation. The awards cookout was

                        held May 9th on a perfect Saturday evening at Chesapeake Harbour Marina. The awards event was very

                        well-attended probably because word got out that Adam’s Ribs sponsored a delicious and bountiful picnic

                        dinner for all participants.
                    </p>

                    <p>
                        Special thanks to Dale Dirks and Bob Thompson for working so hard to make this the successful, annual

                        event it has become. Thank you to the other key volunteers, Rick Nadolny, George Brown and Dan Dirks,

                        who contributed their time and effort resulting in beneficial fun for younger as well as more seasoned

                        anglers.
                    </p>

                    <p>Anyone who checked in a fish received one of the many prizes donated by the tournament sponsors.</p>




                    <b>Tournament winners include:</b>
                    <ul>
                        <li>Andrew Wendell 1st place 47 in. rockfish</li>

                        <li>John Weber 2nd place 45 ¼ in. rockfish</li>

                        <li>Chris Rosenthal 3rd place 44 ½ in. rockfish</li>

                        <li>Robin Zagalsky 1st place ladies 39 ½ in. rockfish</li>

                        <li>Darin Zagalsky 1st place kids 40 ½ in. rockfish</li>

                        <li>Brian Zagalsky 2nd place kids 38 ½ in. rockfish</li>

                        <li>Will Muscatello 3rd place kids 38 ¼ in. rockfish</li>
                    </ul>
                    <b>
                        Special thanks to the following sponsors who donated gift certificates and prizes, and to

                        who made donations to the EVAN Foundation:
                    </b>
                    <ul>
                        <li>Marty’s</li>

                        <li>AllTackle</li>

                        <li>Island Tackle Outfitters</li>

                        <li>Adam’s Ribs</li>

                        <li>Chesapeake Harbour Marina</li>

                        <li>Under Armour, Inc.</li>

                        <li>BFG Tackle</li>

                        <li>Maryland Saltwater Sportfishing Association</li>

                        <li>MSSA Annapolis Chapter</li>

                        <li>The Reel Thing</li>

                        <li>Minuteman Press</li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
</table>

