<table border='0' cellspacing='0' cellpadding='0'>
    <tr valign='top'>
        <td>
            <div id='ldrital'>
                <h2>2016 GOLF TOURNAMENT A BIG SUCCESS</h2>
            </div>
            <img src='../Images/firstplace.jpg' width="580px">
           
         
                <div id='content_text'>

                    <p>
                        September 29th was forecast to be a very rainy day. The impressive and loyal EVAN Foundation 
                        supporters showed up and persevered! In fact, we experienced no rain at all! Thank you to our 
                        generous sponsors, our wonderful volunteers and all of the participants 
                        who came out and supported us at our biggest event of the year!  
                    </p>

                    <p>
                        Whiskey Creek Golf Club in Ijamsville, MD hosted our fourth annual golf tournament. The EVAN 
                        Foundation raised over $48,000 to support desperately need research and to stock the treats & treasures 
                        carts at Children’s National Medical Center. We hope to see you again next year!

                    </p>
                    <img src='../Images/sponsors2016.jpg'>
                    <img src='../Images/closestpin.jpg' width="580px">
                    
                   
                 

                </div>
        
        </td>
    </tr>
</table>



