<table border='0' cellspacing='0' cellpadding='0'>
    <tr valign='top'>
        <td>
            <div id='ldrital'>
                <h2>REGISTRATION IS OPEN!</h2>
                <h3>Seventh Annual EVAN Foundation Golf Tournament & Silent Auction</h3>
                <h3>Thursday, October 3, 2019</h3>
            </div>
            <img src='../Images/golf2019.jpg' width="580px">

            <div id='content_text'>
                Please join us for the Seventh Annual EVAN Foundation Golf Tournament & Silent Auction on Thursday, October 3, 2019! We have a great day planned for you including 18 holes of golf at beautiful Whiskey Creek Golf Club in Ijamsville, MD. Every participant will receive lunch, dinner and gift bag. There will be longest drive and closest-to-the-pin chances for ladies and men and fantastic hole-in-one prizes available on every par 3! If you don't golf, we would love to have you join us after golf for dinner and a tremendous silent auction. Tournament sponsorships are available! Come enjoy the day and help kids in treatment for cancer.
                Email Wendy at info@theevanfoundation.org for more information. Please click <a href="https://www.classy.org/event/evan-foundation-seventh-annual-golf-tournament/e238294" target="_blank">here</a> to register and save your spot!
            </div>

        </td>
    </tr>
</table>



