<h2>How Can I Help?</h2>
<div id='content_text'>
    <p>
        The EVAN Foundation is dedicated to fighting for a cure for neuroblastoma, but we need your help.  Our mission of supporting promising research can only be accomplished through donations of your time, energy, or resources.  Read below how some remarkable people donated their time and energy to help raise funds and spread the word about The EVAN Foundation.
    </p>

    <table width="100%">

        <tr><td><img height="150" src="../Images/kristen.jpg"></td><td><img height="150" src="../Images/hannah.jpg"></td></tr>
        <tr><td><a href='#' onclick="javascript:showKristen()">Read Kristen's speech</a></td><td><a href='#' onclick="javascript:showHannah()">See how Hannah helped</a></td></tr>

        <tr><td><img height="150" src="../Images/juliannakathryn.jpg"></td><td><img height="150" src="../Images/Cale.jpg"></td></tr>
        <tr><td><a href='#' onclick="javascript:showJulianna()">See how Julianna and Kathryn helped</a></td><td><a href='#' onclick="javascript:showCale()">See how Cale helped</a></td></tr>

        <tr><td><img height="150" src="../Images/Burton.jpg"></td><td><img height="150" src="../Images/GirlScout.jpg"></td></tr>
        <tr><td><a href='#' onclick="javascript:showCarly()">See how Carly, Anna and Jessie helped</a></td><td><a href='#' onclick="javascript:showGirlScout()">See how the Brownies and Girl Scout Cadettes helped</a></td></tr>

        <tr><td><img height="150" src="../Images/Daisy.jpg"></td><td><img height="150" src="../Images/alyssaclaire.jpg"></td><td></td></tr>
        <tr><td><a href='#' onclick="javascript:showDaisy()">See how the Daisies helped</a></td><td><a href='#' onclick="javascript:showAlyssaClaire()">See how Alyssa and Claire helped</a></td></tr>

        <tr><td><img height="150" src="../Images/townsend.jpg"></td><td></td><td></td></tr>
        <tr><td><a href='#' onclick="javascript:showTownsend()">See how Townsend helped</a></td><td></td></tr>


        <tr><td><a href="http://facebook.com/pages/The-EVAN-Foundation/202001616514179" target='_new'><img src="../Images/facebook.png" border="0" /></a></td><td>Contact Us: <b>info@theevanfoundation.org</b></td></tr>
    </table>

</div>


    






