@{
    ViewBag.Title = "The EVAN Foundation";
}
<table border='0' cellspacing='0' cellpadding='0'>
    <tr valign='top'>
        <td>
            <div><img src='../Images/evan3.jpg'></div>
        </td>
    </tr>
    <tr valign='top'>
        <td>
            <div id='ldrtitle2' style="border:solid; border-color:aliceblue; border-width:2px; background-color:yellowgreen;">
                The EVAN Foundation Fifth Annual Golf Tournament is on Thursday, October 12, 2017!<br /> Registration is open. Click the link below to register. If you would like to be a valued sponsor of the tournament, please <a href="mailto:info@theevanfoundation.org">
    contact us</a> anytime at for information.<br />Hope to see you in October! <br />
    <br /><a target="_blank" href="http://events.constantcontact.com/register/event?llr=zv8xthmab&oeidk=a07eed33y3yab8ea0ff">CLICK HERE TO REGISTER</a><br /><br />
</div><br /><br />
            <div id='ldrtitle2'>
                WELCOME TO THE EVAN'S VICTORY AGAINST NEUROBLASTOMA FOUNDATION!
            </div>
            <div id='ldrital'>
                Established in Memory of Evan Lindberg in June 2011
            </div>
            <div id='content_text'>
                <p>
                    Every year in the U.S., 700 parents are told their child has a deadly pediatric cancer called
                    neuroblastoma. About half are diagnosed with stage IV, high risk disease and are given less than a 30%
                    chance to live. Those lucky enough to survive face a lifetime of physical, emotional and developmental
                    challenges due to years of relentless, toxic therapy.
                </p>

                <p>
                    Our son Evan was diagnosed with stage IV neuroblastoma in 2006 at the tender age of 3. We
                    do not know why our special boy developed this insidious disease. We have no family history of
                    neuroblastoma. In fact, we had never heard of this cowardly cancer until our oncologist gave us the
                    devastating news.
                </p>

                <p>
                    Evan was a loving, happy and creative child with limitless potential. He fought with unbelievable
                    courage for over four years before the disease took him and everything he was going to be.
                </p>

                <p>
                    In Evan’s memory, we have dedicated ourselves to defeating neuroblastoma. Just like Evan, The Evan’s
                    Victory Against Neuroblastoma Foundation is fighting for a cure every day.
                </p>

                <p>Incorporated in the state of Maryland as a non-profit organization, our mission is to support the most promising research in the field with the goal of getting desperately needed new therapies in the clinic TODAY.  We will also support patient 		wellness programs aimed at helping young children currently in treatment.</p>

                <p>
                    We lost our only child to neuroblastoma. We have not, however, lost the will to help others facing the
                    unthinkable.
                </p>

                <p>
                    Please explore our website to learn more about neuroblastoma and see how you can help make a
                    difference.
                </p>
                <table border='0' cellspacing='0' cellpadding='0'>
                    <tr><td>With Hope,</td><td></td></tr>
                    <tr><td valign='top'>Wendy and Gavin Lindberg</td><td valign='top'><img src='../Images/tef_thumb2.jpg' /></td></tr>
                </table>
            </div>
        </td>
    </tr>
</table>



