<h2>Leadership</h2>
<img src='../Images/tefdirectors.JPG' width="580px">
<div id='ldrdiv'>
    <div id='ldrtitle'>Honorary Chairman</div>
    <div id='ldrtext'>Reed V. Tuckson, MD, FACP</div>
    <div id='ldrital'>Former Executive Vice President</div>
    <div id='ldrital'>Chief of Medical Affairs</div>
    <div id='ldrital'>UnitedHealth Group</div>
    <div id='ldrital'>Managing Director</div>
    <div id='ldrital'>Tuckson Health Connections</div>
</div>
<div id='ldrdiv'>
    <div id='ldrtitle'>Honorary Medical Chairman</div>
    <div id='ldrtext'>Peter C. Adamson, MD</div>
    <div id='ldrital'>Chairman</div>
    <div id='ldrital'>Children’s Oncology Group</div>
</div>
<div id='ldrdiv'>
    <div id='ldrtitle'>Board of Directors</div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>Gavin B. Lindberg</div>
        <div id='ldrital'>President</div>
    </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>Wendy Lindberg</div>
        <div id='ldrital'>Secretary</div>
    </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>George Brown, Esq.</div>
    </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>Robert Gilmore, Esq.</div>
    </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>Christopher Healey, Esq.</div>
    </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>Bonnie Lawhorn</div>
    </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>Donna Ludwinski</div>
        </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>John Monacci</div>
    </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>Mark Tulip, MBA</div>
    </div>
    <div id='ldrnamediv'>
        <div id='ldrtext'>Jodi Vose</div>
    </div>
</div>
<div id='ldrdiv'>
    <div id='ldrtitle'>Officers</div>
   
    <div id='ldrnamediv'>
        <div id='ldrtext'>Lesia Griffin</div>
        <div id='ldrital'>Treasurer</div>
    </div>
</div>
