<h2>The EVAN Foundation</h2>
<h3>Our Mission</h3>
<table width='100%' border='0' cellpadding='0' cellspacing'0'>
    <tr>

        <td>
            <div id='content_text'>Hope for a better future for young neuroblastoma patients lies in expanded research on this rare and underfunded cancer.  The Evan’s Victory Against Neuroblastoma Foundation is dedicated to supporting research that will foster new therapeutic options for kids currently in treatment.  Neuroblastoma will not wait so neither can we.  In addition, the Foundation supports patient-wellness programs designed to brighten the days of children enduring long and difficult stays in the hospital and at home.   Thank you so much for your support.  Details of specific projects funded by the Foundation can be found by looking under the Research Tab.</div>
        </td>
        <td valign='top'>
            <img class='special' src='../Images/Evan_home2.jpg'></img>
        </td>
    </tr>
</table>
<img class='special' src='../Images/Evan_mrstrong.jpg'></img>

