<h2>Neuroblastoma</h2>
<h3>What Is Neuroblastoma?</h3>
<div id='content_text'>
    <p>
        Neuroblastoma is one of the most complex and devastating of all pediatric cancers. It is a
        tumor of the sympathetic nervous system that quickly spreads throughout the entire body. It
        is a cowardly disease that primarily strikes young children before the age of 5. Neuroblastoma
        is extremely rare, with approximately 700 new cases a year seen in the U.S. Less that 30% of
        children diagnosed with high-risk disease survive.
    </p><p>
        Those fortunate enough to survive face a lifetime of treatment-related physical and emotional
        challenges, including the likelihood of developing a secondary malignancy. Only one hurdle
        stands between the unacceptable status quo and better treatments and a cure for this awful
        disease -- support for research.
    </p>
</div>

<h3>A Few Facts To Consider...</h3>
<div id='content_text'>
    <ul>
        <li>
            The National Cancer Institute allocates $200 million out of its annual $5.1 billion budget
            to pediatric cancer research. That is just 4%, despite the fact that pediatric cancer is
            the number one disease killer of children in the U.S.
        </li>
        <br>
        <li>
            There is virtually no private pharmaceutical investment in neuroblastoma research due
            to a lack of market incentives.
        </li>
        <br>
        <li>
            The American Cancer Society dedicates less that 1% of its $1 billion in annual public
            revenues to pediatric cancer research. No figure is publicly available for neuroblastoma.
        </li>
    </ul>
</div>
