<h2>EVAN FOUNDATION SUPPORT FOR NEUROBLASTOMA RESEARCH</h2>
<div id='content_text'>
    The EVAN Foundation is very proud to support the following neuroblastoma research awards totaling $220,000.  We thank all of our friends and supporters for making these promising investments possible!
</div>
<h3>$30,000 to Texas Tech University Health Science Center (Dr. Barry Maurer)</h3>
<div id='content_text'>
    <ul>
        <li><p>This award led to the launch of a promising new Phase 1 clinical trial to treat relapsed and refractory neuroblastoma.  EVAN Foundation funds supported the formulation of the anti-neuroblastoma drug Fenretinide into an oral powder that is easier for children to take and better absorbed by body than capsules. The study is open to patients from across the country through a consortium of pediatric cancer treatment hospitals in Texas.  Fenretinide LXS Oral Powder is being combined with two chemotherapy agents to treat approximately 42 patients.  When the study launched in May of 2014, lead investigator Dr. Barry Maurer said “We are extremely grateful to the EVAN Foundation for helping make this new therapeutic option available to children with relapsed and refractory neuroblastoma. This clinical trial is an important step forward for patients and it is an example of the critical role non-profit organizations like the EVAN Foundation play in advancing neuroblastoma research in the face of shrinking federal government support.”</p></li>

    </ul>
</div>

<h3>$20,000 to Children’s Hospital of Philadelphia (Dr. Stephen Grupp)</h3>
<div id='content_text'>
    <ul>
        <li>EVAN Foundation funds are being used to support a new treatment option for neuroblastoma that employs groundbreaking immunotherapy technology shown to have dramatic results in childhood and adult leukemia. The same researchers who made global headlines in 2012 for curing a 9-year-old girl of multiple relapsed leukemia by using her own immune cells will open a study at the Children’s Hospital of Philadelphia and the University of Utah utilizing the same approach in high-risk neuroblastoma.  The ACT FAST trial is scheduled to open in late 2014 with an initial enrollment target of 15 patients. The Foundation was proud to partner with Solving Kids’ Cancer on this grant.  SKC matched our award for a total of $40,000.</li>
    </ul>
</div>
<h3>$70,000 to Children's Oncology Group - “Project: EveryChild”</h3>
<div id='content_text'>
    <ul>
        <li>Children’s Oncology Group is the world's largest organization devoted exclusively to treating children and adolescents with cancer.  Ninety percent of all kids diagnosed with cancer in the US are treated at one of more than 200 COG member hospitals.  The COG is launching a 5-year research initiative entitled "Project: EveryChild" which will capture the biology, treatment history and outcome of every pediatric cancer patient in the U.S., including those with neuroblastoma.  Tumor tissue and, when possible, parental DNA will be collected and stored in a state-of-the-art biobank at Nationwide Children's Hospital in Columbus, OH.  These biospecimens, along with treatment and outcome information, will be available to thousands of researchers working to develop new therapies for neuroblastoma and other deadly childhood cancers. The EVAN Foundation is proud to be a Founding Partner of “Project: EveryChild.”</li>
    </ul>
</div>

<h3>$35,000 to Texas Children's Hospital / Baylor College of Medicine (Dr. Chrystal Louis) </h3>
<div id='content_text'>
    <ul>
        <li>Children with relapsed neuroblastoma have very few curative options.  Once the disease has returned, it becomes resistant to traditional treatment options such as chemotherapy and radiation.  Investigators are actively looking for new treatment strategies. An innovate phase I trial at Texas Children's Hospital and Houston Methodist Hospital using an immunotherapy approach with modified T cells now offers vulnerable young patients a promising new treatment option. The EVAN Foundation was proud to partner with Solving Kids’ Cancer on this grant.  SKC matched our award for a total of $70,000.  The study launched in 2013 and is expected to treat 14 patients.</li>
    </ul>
</div>

<h3>$20,000 to Seattle Children’s Hospital (Dr. Julie Park)</h3>
<div id='content_text'>
    <ul>
        <li>This grant is supporting an international research collaboration aimed at standardizing the analysis and reporting of tumor cells in the bone marrow of patients with high-risk neuroblastoma. Bone marrow involvement is a critical factor in determining what treatment a child should receive. The analysis of bone marrow tests however, varies across institutions and countries. Dr. Park is coordinating the work of three researchers; one in the U.S., one in the UK, and one in the Netherlands. They are reviewing bone marrow samples from all three countries and assess best practices for determining the presence of tumor cells and levels of biomarkers that predict poor outcomes. This will aid in the standardization of bone marrow reporting, inform the development of superior methods of marrow disease monitoring, and help children get placed into the proper treatment protocol.</li>
    </ul>
</div>

<h3>$20,000 to Children’s Hospital of Philadelphia (Dr. Yael Mossé, Director of the Neuroblastoma Therapeutics Program).</h3>
<div id='content_text'>
    <ul>
        <li>These funds are supporting Dr. Mosse’s “Molecular Oncology for Pediatric Cancers: Neuroblastoma as a Model” project. Dr. Mossé is a leading neuroblastoma clinician and investigator working to speed the translation of molecular discoveries made in her laboratory into new treatments. Dr. Mosse and her team are specifically focusing on the translational development of four drugs that target different growth pathways in neuroblastoma.</li>
    </ul>
</div>

<h3>$25,000 to Children’s Hospital of Los Angeles/New Approaches to Neuroblastoma Therapy (Dr. Shahab Asgharzadeh) </h3>
<div id='content_text'>
    <ul>
        <li>The New Approaches to Neuroblastoma Therapy consortium is a network of 13 universities and children’s hospitals that conduct research and care for children with high-risk neuroblastoma.  Funds granted to Dr. Asgharzadeh are being used to support preclinical work in his Children’s Hospital of Los Angeles laboratory aimed at facilitating a Precision Medicine trial for relapsed neuroblastoma across NANT instructions.</li>
    </ul>
</div>
