<h2>Treats and Treasures</h2>
<div id='content_text'>
    <p>
        The EVAN Foundation introduced the Treats and Treasures
        cart at Children’s National Medical Center in Washington, DC.
        Every room on the oncology floor is visited by Wendy and
        Gavin and 2 carts filled with candy and toys. Each kid and
        their families pick whatever they want. This new tradition
        started in April 2012 and will continue every Wednesday night.
    </p>
    <div id='ldrdiv'>
        <img src="../Images/treatsandtreasures.jpg" width="590px" />
    </div>
    <p>
        If you would like to help us stock the cart, please send
        packages of standard size chocolate/candy, small toys or cash
        donations designated to the Treats and Treasures cart and we
        will be happy to share with the kids.
    </p>
    <p>
        You can <a href="/Main/Donate">Donate</a> online here.
    </p>
    <p>
        Send candy
        donations or checks to:
    </p>

    <p>
        The EVAN Foundation<br />
        19308 Penrod Terrace<br />
        Germantown, MD 20874
    </p>
</div>
