body{
	background-color: #0e88f1;
	background-image:url('gradient.png');
	background-repeat:repeat-x;	
}


h2{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: #000055;
	padding-top: 12px;
	padding-bottom: 3px;
}

h3{
	font-family: Arial Narrow,Helvetica, sans-serif;
	font-size: 14pt;
	color: #0e88f1;
	padding-bottom: 3px;
}

#comingsoon{
	width:300px;
	margin-left: auto ;
	margin-right: auto ;
	position: relative;
	background-color:white;
	border:1px solid #000055;
	margin-top: 150px;	
}

#comingsoontext{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: ffffff;
	text-align: center;	
	margin-top: 150px;
}

#main{
  width: 900px ;
  height: 1100px;
  margin: 0 auto;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: auto;
  position: relative;
  background-color:white;
  border:1px solid #000055;
  
}

#leftbar{
	width: 300px;
	height: 100%;
	float: left;
	background-color:white;
}

#content_text{
	width:90%;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 16px;
	background: #fffff;
	vertical-align: top;
	text-align: left;
	margin-left: 20px;
}

#logo{
	width:300px;
	height: 283px;
}

#top-image{
	width: 600px;
	margin-left: 300px;
	vertical-align: top;
	text-align: right;
}


#navigation {
	font:15px arial,sans-serif;
	width:200px;
}
#navigation ul {margin:0px; padding:0px;}
#navigation li {list-style: none;} 

ul.top-level {background:#000055;}
ul.top-level li {
 border-bottom: #fff solid;
 border-top: #fff solid;
 border-width: 1px;
}

#navigation a {
 color: #fff;
 cursor: pointer;
 display:block;
 height:35px;
 line-height: 35px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
 padding: 0px 0px 0px 22px;
}
#navigation a:hover{
  color: #000055;
 padding: 0px 0px 0px 22px;
 
}

#navigation li:hover {
 background: #ffcc33;
 position: relative;
 background:  #ffcc33 url(thumb.jpg) no-repeat left top;
 padding: 0px 0px 0px 0px;
 
}

ul.sub-level {
    display: none;
}
li:hover .sub-level {
    background: #999;
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}
ul.sub-level li {
    border: none;
    float:left;
    width:160px;
}