body{
	background-color: #0e88f1;
	background-image:url('blue_bg.jpg');
	background-repeat:repeat-x;	
	behavior: url("csshover3.htc");
}

a img {
 border: none;
}

h2{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: #000055;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 4px solid #ffcc33;
}

h3{
	font-family: Arial Narrow,Helvetica, sans-serif;
	font-size: 14pt;
	color: #0e88f1;
	padding-bottom: 1px;
}

#comingsoon{
	width:300px;
	margin-left: auto ;
	margin-right: auto ;
	position: relative;
	background-color:white;
	border:1px solid #000055;
	margin-top: 150px;	
}

#comingsoontext{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: ffffff;
	text-align: center;	
	margin-top: 150px;
}

#main{
  width: 900px ;
  height: 2800px;
  margin: 0 auto;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: auto;
  position: relative;
  background-color:white;
  border:1px solid #000055;
  
}

#leftbar{
	width: 300px;
	float: left;
	background-color:white;
}

#content_text{
	width:90%;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 16px;
	background: #fffff;
	text-align: left;
	margin-left:10px;
}

#popup_text{
	width:90%;
	font-family: Trebuchet MS;
	font-size: 16px;
	background: #fffff;
	text-align: left;
	margin-left:10px;
}

#ldrtitle{
	width:90%;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 21px;
	background: #fffff;
	text-align: center;
	text-decoration: none;
	color:#0e88f1;
	margin-left:10px;		
}

#ldrtitle2{
	width:90%;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 21px;
	background: #fffff;
	text-align: center;
	text-decoration: none;
	color:#000055;
	margin-left:10px;	
	padding-top:15px;	
}
#ldrtitle3{
	width:90%;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 28px;
	background: #fffff;
	text-align: center;
	text-decoration: none;
	color:#000055;
	margin-left:10px;	
	padding-top:15px;	
}

#ldrdiv{
	padding-top: 12px;
	padding-bottom: 12px;	
}

#ldrnamediv{
		padding-bottom: 6px;
}

#ldrtext{
	width:90%;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 18px;
	background: #fffff;
	text-align: center;
	margin-left:10px;
}

#ldrital{
	width:90%;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 14px;
	font-style:italic;
	background: #fffff;
	text-align: center;
	margin-left:10px;
}

#reviewletter{
	width:90%;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 16px;
	background: #fffff;
	text-align: left;
	margin-left:10px;
}


#logo{
	width:300px;
	height: 283px;
}


#navigation {
	font:15px arial,sans-serif;
	width:200px;
}
#navigation ul {margin:0px; padding:0px;}
#navigation li {list-style: none;} 

ul.top-level {background:#000055;}
ul.top-level li {
 border-bottom: #fff solid;
 border-top: #fff solid;
 border-width: 1px;
}

#navigation a {
 color: #fff;
 cursor: pointer;
 display:block;
 height:35px;
 line-height: 35px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
 padding: 0px 0px 0px 22px;
}
#navigation a:hover{
  color: #000055;
 padding: 0px 0px 0px 22px;
 
}

#navigation li:hover {
 background: #ffcc33;
 position: relative;
 background:  #ffcc33 url(thumb.jpg) no-repeat left top;
 padding: 0px 0px 0px 0px;
 
}

ul.sub-level {
    display: none;
}
li:hover .sub-level {
    background: #999;
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}
ul.sub-level li {
    border: none;
    float:left;
    width:160px;
}


img.special {border: 6px #000055 solid;}
img.special2 {border: 6px #ffcc33 solid;}
img.special3 {border: 6px #ffffff solid;}
img.special4 {border: 6px black solid;}

#yellow_bkg{
	background-image:url('yellow_bkg.jpg');
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 16px;

	
}

#fieldWrapper
{ 
	font-size: 33px;
}

#footer {
   font-family: Geneva,Arial,Sans-Serif;
   font-size: 12px;
   color: white;
   position:absolute;
   background-color: #ffcc33;
   border-top:1px solid #ffcc33;
   text-align:center;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   
}

input {
    width: 300px;
    height: 20px;
	font-family: Geneva,Arial,Sans-Serif;
	font-size: 18px;
}

#submit{
	width: 100px;
}
#divContainer{
	float:left;
	width:100%;
}
#divLeft{
	float:left;
}
#divRight{
	float:right;
	padding-right:10px;
}
#divCenter{
	float:center;
	width:100%;
}

#rooftopDiv{
	background-image:url('dc_spring.jpg');
	text-align: center;
	border-bottom: lightpink solid;
    border-top: lightpink solid;
    border-right: lightpink solid;
    border-left: lightpink solid;
    border-width: 4px;
    width:98%;
    background-repeat: no-repeat;
    background-position: -350px -250px;
    padding-top: 12px;
	padding-bottom: 12px;
}